*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #707070;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    min-height: 100vh;
}

header {
    background-color: white;
    position: relative;
    padding: 1rem;
}

nav a {
    color: black;
    font-size: 16;
    text-decoration: none;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #ba7171;

}

.hero {
    display: flex;
    justify-content: space-between;
    color: white;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), linear-gradient(to left, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url(images/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    background-size: 0% 100%, 0% 100%, contain;
    background-color: black;
    background-repeat: no-repeat;
    background-position: 77%, 23%, center;
    height: 60vh;
    font-size: medium;

}
.aboutUsimg1{
    grid-area: i1;
    height:250px;
    padding: 1;
    
} 
.aboutUsimg2{
    grid-area: i2;
    height: 350px;
    padding: 1;
}

.aboutUs-container{
    display: grid;
    grid-template-areas: "t1 t1 i2" "i1 t2 i2" "i1 t2 i2";
    margin: 1rem;
    
}

.aboutUs-1{
    grid-area: t1;
    margin: 1rem;
    padding: 2;

}
.aboutUs-2{
    grid-area: t2;
    margin: 1rem;
    padding: 3;
    /* max-width: 25rem; */
}

.p {
    border-bottom: 4px solid black;
    width: 20;
  }
  
  .productsContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin: 2rem;
    padding: 1rem;
    gap: 2;

    /* grid-template-areas: "ltop mtop rtop" "lmid mmid rmid" "lbot mbot rbot";
    height: 25px; */
  }
  .productImage{
    height:200px;
    padding: 1;
    
} 
.product{
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    align-items: center;
}
.button{
    background-color: #BF7631;
    color: white;
    
}
footer{
text-align: center;
border-image: round;
background-color: #BF7631;
display: flex;
justify-content: center;
align-items: baseline;
position: relative;
}